---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
---

<Layout
  title="Porfolio de midudev - Desarrollador y Programador Web con 15 a침os de experiencia"
  description="Contrata a midudev para crear tu aplicaci칩n web o m칩vil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones 칰nicas."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full w-18 h-24 mb-4"
        src="https://cdn.glitch.global/cbbdd7f8-860c-4fa1-8bd4-727dcfd4c0bc/me2.jpg?v=1704546447847"
        alt="David photo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy David <a
          href="https://linkedin.com/in/david-gonzalez-dev2012"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
      <span class="text-yellow-200/90">+1 a침o de experiencia como</span>
      <span class="text-blue-200/90"> Desarrollador De Software.</span><span
        class="opacity-90"
        >
        De Venezuela 游游
      </span><span class="opacity-90">Especializado en</span><span
        class="text-red-200/90"
      >
        otorgarle vida a sus ideas m치s ambiciosas
      </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/david-gonzalez-dev2012">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/davgonsan">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:davidgonzalezdev@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          davidgonzalezdev@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
