<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-700 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>David</strong>, pero tú puedes llamarme cuando necesites
      de mis servicios. Empecé desarrollando <strong
        >sistemas de información e inventarios</strong
      > en la universidad, los vendí junto con mis servicios de desarrollo e hice
      mis primeros clientes. Actualmente estoy trabajando como <strong>
        Analista de Sistemas</strong
      > en una de las empresas de
      <strong
        ><a href="https://gruposansimon.com" target="_blank"
          >producción de alimentos más importantes del país</a
        ></strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen colaborar con <strong
        ><a href="https://www.instagram.com/hubsislatinoamerica" target="_blank"
          >Hubsis Latinoamérica</a
        ></strong
      >, <strong>único distribuidor autorizado</strong>
      del <strong
        ><a href="https://www.miprofit.com" target="_blank"
          >ERP Profit Plus 2k12</a
        ></strong
      > en el estado Zulia, para el desarrollo de <strong
        >Formatos, Reportes y Automatización de Procesos Financieros.</strong
      >
    </p>
  </div>
  <img
    src="/me_updated.jpg"
    class="rounded-full size-64 md:size-1/3 order-1 md:order-2"
    alt="Foto de David Gonzalez"
  />
</section>
